@import "./fonts";
@import "./normalize";
/*Asosiylari*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  height: 105px;
  background-color: #F6F6F6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", 'Arial', sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/*page1*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #7297EF;
  --color-bluestrong: #7296EC;
  --color-whitelight:  #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

.container {
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/
.header {
  width: 1440px;
  height: 105px;
  background-color: var(--color-white);
  padding: 30px 120px 30px 120px;
  margin-bottom: 30px;
}

.header__box {
  width: 1200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  background-color: var(--color-white);
}

.header__form {
  width: 500px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.header__search {
  width: 275px;
  height: 45px;
  padding: 14px;
  background: var(--color-white);
  border-radius: 60px;
}

.header__drop--dawn {
  list-style-type: none;
}

.header__submit {
  width: 89px;
  height: 45px;
  text-decoration: none;
  background: var(--color-bluestrong);
  border-radius: 10px;
  padding: 13px 20px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.dropdawn {
  position: relative;
  background-color: #DCE6FF;
  width: 70px;
  height: 36px;
  border-radius: 39px;
}

.drop__dawn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 9px;
  color: var(--color-black);
  position: absolute;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background-color: var(--color-white);
  text-decoration: none;
}

.valute {
  color: #2959CE;
}

/* dropdawn yasalishi kerak*/
.header__drop--dawn {
  position: relative;
  left: 3px;
}

/*hero*/
.hero__nav {
  width: 1200px;
  height: 41px;
  padding-left: 0;
  margin-bottom: 40px;
}

.hero__list {
  width: 1200px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #D1D1D1;
  padding-right: 0;
}

.hero__item {
  margin: 0;
}

.hero__link {
  padding-left: 0;
  text-decoration: none;
  color: var(--color-black);
}

.hero_wrapper--img {
  width: 1200px;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.hero__img {
  width: 1200px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*hero boxlar*/
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1440px;
  height: 774px;
  margin-bottom: 60px;
}

.dero__box--in {
  width: 390px;
  height: 382px;
  background-color: var(--color-whitelight);
  border-radius: 15px;
}

.hero__box--on {
  margin-left: 10px;
  margin-right: 10px;
}

.hero__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  margin: 0;
  padding: 20px 18px 10px 18px;
}

.hero__text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  padding-left: 18px;
  padding-bottom: 15px;
}

.hero__box--img {
  padding: 0px 18px 15px;
}

.hero__footer {
  margin: 0;
  padding: 0px 0px 18px 18px;
}

/*befor after qilinmadi*/
.hero_icon::before {
  content: "";
  background-image: url(./../images/kv.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
  -webkit-transform: translateY(22%);
          transform: translateY(22%);
}

/*befor after qilinmadi*/
.news {
  width: 1050px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(./../images/backgr.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.news__heading {
  margin: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.news__submit {
  width: 149px;
  height: 50px;
  background: #F78B3B;
  border-radius: 10px;
  margin: 25px 71px;
  color: var(--color-white);
}

/*world*/
.world {
  width: 1240px;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.world__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
}

.world__bottom {
  width: 1200px;
  max-height: 2000px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
         
          align-items: flex-start;
}

.world__bottom--left {
  width: 800px;
  max-height: 2000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration: column;
          text-decoration: column;
}

.world__item {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-whitelight);
  border-radius: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.world__items {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 53px;
  background-color: var(--color-whitelight);
  border-radius: 15px;
  border-radius: 10px;
}

.world__items--link {
  margin: 17px 343px;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.world__img {
  margin-left: 10px;
}

.world__bottom--right {
  width: 393px;
  height: 868px;
  margin-left: 10px;
  align-items: flex-start;
}

.main {
  margin: 0;
  padding-top: 20px;
  padding-left: 18px;
}

.top__heading {
  margin: 25px 18px 8px 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.lineee {
  color: #D2D2D2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom__right--top {
  width: 393px;
  height: 502px;
  background-color: var(--color-whitelight);
  border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

/*footer*/
.footer {
  margin-top: 100px;
  width: 1440px;
  height: 356px;
  background-color: var(--color-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_box--middle {
  width: 998px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapperr {
  width: 998px;
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list {
  list-style-type: none;
  margin: 0;
}

.footer__list--link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 12px;
  line-height: 19px;
}

.footer__list--icon {
  margin-bottom: 20px;
}

.footer__list--add {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__link {
  text-decoration: none;
}

.footer__namangan {
  color: var(--color-white);
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.footer__text {
  margin: 0;
  color: var(--color-white);
}

.footer__box--end {
  width: 998px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--color-white);
  margin-top: 30px;
}

.net {
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.net__icon {
  width: 25px;
  height: 25px;
  margin-right: 28px;
}

.net__icon:nth-child(4) {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */