$header-color: #f6f6f6;

.header {
  width: 1440px;
  height: 105px;
  background-color: $header-color;
  padding: 30px 120px 30px 120px;
  margin-bottom: 30px;
  
}

.header__box {
  width: 1200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  background-color: var(--color-white);
}

.header__form {
  width: 500px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.header__search {
  width: 275px;
  height: 45px;
  padding: 14px;
  background: var(--color-white);
  border-radius: 60px;
}

.header__drop--dawn {
  list-style-type: none;
}

.header__submit {
  width: 89px;
  height: 45px;
  text-decoration: none;
  background: var(--color-bluestrong);
  border-radius: 10px;
  padding: 13px 20px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.dropdawn {
  position: relative;
  background-color: #DCE6FF;
  width: 70px;
  height: 36px;
  border-radius: 39px;
}

.drop__dawn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 9px;
  color: var(--color-black);
  position: absolute;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background-color: var(--color-white);
  text-decoration: none;
}

.valute {
  color: #2959CE;
}

